<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order!</h4>
  </div>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th scope="col">name</th>
        <th scope="col">image</th>
        <th scope="col">description</th>
        <th scope="col">price</th>
        <th scope="col">quantity</th>
        <th scope="col">line total</th>
      </tr>
    </thead>
    <tbody>
      <% @order.line_items.each do |line_item| %>
        <%= render 'orders/line_item', line_item: line_item, quantity: line_item.quantity %>
      <% end %>
      <tr class="table-active">
        <th scope="row" colspan="4">Total:</th>
        <td><%= @order.line_items.count %></td>
        <td><%= humanized_money_with_symbol @order.total_cents / 100.0 %></td>
      </tr>
    </tbody>
  </table>

  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
